streamlit==1.40.2
fastapi==0.115.5
uvicorn[standard]==0.32.1
python-multipart==0.0.17
ray[default]==2.9.3
pymilvus==2.4.1
boto3==1.35.68
botocore==1.35.68
SQLAlchemy==2.0.36
psycopg[binary]==3.2.3
prometheus-client==0.21.0
pynvml==11.5.3
PyPDF2==3.0.1
PyMuPDF==1.24.14
python-docx==1.1.2
python-pptx==1.0.2
openpyxl==3.1.5
xlrd==2.0.1
pandas==2.2.3
rapidocr-onnxruntime==1.4.3
Pillow==11.0.0
tiktoken==0.8.0
openai-whisper==20240930
soundfile==0.12.1
ddgs==9.5.5
beautifulsoup4==4.12.3
requests==2.32.3
numpy==1.26.4
transformers==4.46.3
huggingface-hub==0.26.2
safetensors==0.4.5
torch==2.5.1
